.navbar{
color:black;
background:#FFFACD;
height:30px;
padding:0px;
margin: 0px;
}
.modal{
padding-top: 5%;
}
 .carousel {
  margin:0 auto;
  
}

.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1280px;
}
#imageDescription{
    color: blue;
    text-align: center;
}
.frame{
    height:275px;
    width:275px;
    overflow: hidden;
    display: inline-block;
}
.zoomin img{
    height: 275px; 
    width: 275px; 
    -webkit-transition: all 3s ease; 
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    transition: all 3s ease;
}
.zoomin img:hover{
    width: 350px;
    height: 350px;
}
.zoomin p {
position:relative;
bottom:250px;
left:110px;
visibility:hidden;
color: white;
font-size: 30px;
}
 .imageDiv
        {
            margin-left: 10px;
            display: block;
            padding: 10px;

        }

    .bottomDiv
        {
            position:relative;
            top:-250px;
            left:150px;
            background: rgba(150,150,150,0.5);
            height: 100px;
            width:500px;
         }
      
dl dd {
padding: 0 1%;
float: left;
width: 88%
}

dl dt {
float: left;
padding: 0 1%;
width: 8%;
margin-top: 0;
}
